<h1>Recipe Book Page Site</h1>

<img src="/img/RecipeBook.png" alt="food book" />

<form class="well" action="/recipe" method="post">
<label for="recipe_name">Name a new recipe:</label>
<input type="text" id="recipe_name" name="recipe_name">
<button type="submit">Create Recipe</button>
</form>
