<h1>Recipe Book Page Site</h1>

<img src="/img/RecipeBook.png" alt="food book" />

<form class="well" action="/recipe" method="post">
<label for="recipe_name">Name a new recipe:</label>
<input type="text" id="recipe_name" name="recipe_name">



<input type="text" id="ingredient0" name="ingredient0">
<button type="button" name="button">Add another ingredient:</button>
(code to make another input with id ingredient1)

<input type="text" id="instruction0" name="instruction0">
<button type="button" name="button">Add another instruction:</button>
(code to make another input with id instruction1)




<button type="submit">Create Recipe</button>
</form>
